<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<!-- 
	mapper,xml中编写sql语句
	namespace="命名空间 一般使用文件所在包和文件名 命名"
		此名称在一个项目中必须是唯一的
 -->
 <!-- 使用接口访问，namesprce 接口的全类名 -->
<mapper namespace="com.tyinf.cicts.dao.ILoginDAO">
	<select id="findAllPhone" resultType="String" >
		SELECT phone FROM user
	</select>
	<insert id="createUser" parameterType="User">
		INSERT  INTO user(uname,phone,password)VALUES(#{uname},#{phone},#{password})
	</insert>
	<select id="checkLogin" parameterType="String" resultType="User">
		SELECT * FROM user WHERE phone=#{phone}
	</select>
</mapper>


