<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<!-- 
	mapper,xml中编写sql语句
	namespace="命名空间 一般使用文件所在包和文件名 命名"
		此名称在一个项目中必须是唯一的
 -->
 <!-- 使用接口访问，namesprce 接口的全类名 -->
<mapper namespace="com.tyinf.cicts.dao.IPageDAO">
	<resultMap id="goodsInfo" type="Goods">
		<id column="gid" property="gid"/>
		<result column="gname" property="gname"/>
		<result column="desc" property="desc"/>
		<result column="price" property="price"/>
		<result column="putday" property="putday"/>
		<result column="gimg" property="gimg"/>
		<association property="type" javaType="Type">
			<id column="tid" property="tid"/>
			<result column="tname" property="tname"/>
		</association>
		<association property="user" javaType="User">
			<id column="uid" property="uid"/>
			<id column="uname" property="uname"/>
		</association>
	</resultMap>
	<select id="findTypeAll" resultType="Type">
		SELECT * FROM type
	</select>

	<select id="count" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM  goods
		<if test="column !=null and column!='' and keyword !=null and keyword!='' ">
			where `${column}` LIKE concat('%',#{keyword},'%')
		</if>
	</select>
	<select id="findSplit" resultMap="goodsInfo" parameterType="map">
		SELECT g.gid gid,g.gname gname,g.`desc` `desc`,g.price price,g.putday putday,g.gimg gimg,g.uid uid,u.uname uname,g.tid tid,t.tname tname FROM goods g, type t,user u
		WHERE
		g.uid=u.uid AND g.tid=t.tid
		<if test="column !=null and column!='' and keyword !=null and keyword!='' ">
			AND `${column}` LIKE concat('%',#{keyword},'%')
		</if>
		GROUP BY g.gid DESC
		Limit #{currentPage},#{lineSize}
	</select>

	<select id="countId" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM  goods where tid=#{tid}
		<if test="column !=null and column!='' and keyword !=null and keyword!='' ">
			 AND `${column}` LIKE concat('%',#{keyword},'%')
		</if>
	</select>
	<select id="findSplitId" resultMap="goodsInfo" parameterType="map">
		SELECT g.gid gid,g.gname gname,g.`desc` `desc`,g.price price,g.putday putday,g.gimg gimg,g.uid uid,u.uname uname,g.tid tid,t.tname tname FROM goods g, type t,user u
		WHERE
		g.uid=u.uid AND g.tid=t.tid AND g.tid=#{tid}
		<if test="column !=null and column!='' and keyword !=null and keyword!='' ">
			AND `${column}` LIKE concat('%',#{keyword},'%')
		</if>
		GROUP BY g.gid DESC
		Limit #{currentPage},#{lineSize}
	</select>
	<select id="byId" resultMap="goodsInfo" parameterType="int">
		SELECT g.gid gid,g.gname gname,g.`desc` `desc`,g.price price,g.putday putday,g.gimg gimg,g.uid uid,u.uname uname,g.tid tid,t.tname tname FROM goods g, type t,user u
		WHERE g.uid=u.uid AND g.tid=t.tid AND g.gid=#{gid}
	</select>

	<select id="selectComment" parameterType="int" resultType="Comment">
	SELECT c.id id, c.opertime opertime,c.content content,u.uname uname
	FROM `comment` c JOIN `user` u ON c.uid=u.uid
	WHERE c.gid=#{gid}
	</select>
	<select id="commentCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM `comment`
		WHERE gid=#{gid}
	</select>
</mapper>


